<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="home-wrapper">
  <h1>FastPages</h1>
    <div class="page-list">
      {{#pages}}
          <a href="/{{.}}">
            <div class="page">
              <h2>{{.}}</h2>
              <div>
                <a href="/admin/edit/{{.}}"><button id="edit-button">Editar</button></a>
                <a href="/admin/delete/{{.}}"><button id="edit-button">Excluir</button></a>
              </div>
            </div>
          </a>
      {{/pages}}
    </div>
  <a href="/admin/"><button id="edit-button">Criar Nova Página</button></a>
</body>
</html>