<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="home-wrapper">
    <header>
      <div class="logoHeader">
        <img class="logo" src="fastpage-icon-white.png">
        <h1>FastPages</h1>
      </div>

      <a href="/logout"><button id="edit-button">Sair</button></a>
    </header>
    <div class="page-list">
      {{#pages}}
          <a href="/{{.}}">
            <div class="page">
              <h2>{{.}}</h2>
              <div>
                <a href="/admin/edit/{{.}}"><button id="edit-button">Editar</button></a>
                <a href="/admin/delete/{{.}}"><button id="edit-button">Excluir</button></a>
              </div>
            </div>
          </a>
      {{/pages}}
    </div>
  <a href="/admin/"><button id="edit-button">Criar Nova Página</button></a>
</body>
</html>