<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="page.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <a href="/">
      <div class="logoHeader">
        <img class="logo" src="../../fastpage-icon-white.png">
        <h1>FastPages</h1>
      </div>
    </a>

    <h1>{{title}}</h1>

    <div style="padding: 0 16px">
      <a href="/"><button>Home</button></a>
      <a href="/admin"><button>Criar nova página</button></a>
    </div>
  </header>

  <main>
    <div class="page-content">
        <p style="word-break: break-word;">{{{content}}}</p>
    </div>
  </main>

  <footer>
    <p>&copy; FastPages</p>
  </footer>
</body>
</html>